@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --background-color: #000000;
  --box-shadow-green: 0px 2px 4px #05ff00;
  --box-shadow-pink: 0px 2px 4px #ff416c;
  --border-radius-default: 8px;
}

body,
.Block,
.Mempool,
button,
.Blockchain {
  background-color: var(--background-color);
}

body {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

.gameFont {
  font-family: "Press Start 2P", cursive;
}

.App {
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border-radius: var(--border-radius-default);
}

.Block {
  min-height: 250px;
  width: 195px;
  position: relative;
  border: 1px solid #05ff00;
  padding: 4px;
  margin: 11px;
  display: inline-block;
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-green);
}

.Block::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #05ff00;
}

.BlocksContainer,
.TransactionList {
  display: flex;
  flex-wrap: wrap;
}

.Mempool,
.Transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-pink);
}

.Mempool {
  justify-content: center;
  border: 1px solid #f44336;
  padding: 15px;
  margin: auto 0;
  margin-top: 15px;
}

.EmptyContainer {
  padding: 10px;
  font-style: italic;
  color: #888;
}

.Transaction {
  border: 1px solid #8bc34a;
  padding: 5px;
  margin: 5px;
  align-items: flex-start;
}

.Blockchain {
  padding: 20px;
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-pink);
}

button {
  border: 2px solid #05ff00;
  color: #05ff00;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  box-shadow: var(--box-shadow-green);
  text-shadow: 0 0 5px #05ff00, 0 0 10px #05ff00, 0 0 15px #05ff00,
    0 0 20px #05ff00;
}

button::before,
button.mine::before {
  font-weight: bold;
}

button::before {
  content: "➕ ";
}

button::after {
  content: " ↑";
}

button.mine::before {
  content: "⛏️ ";
}

button.mine::after {
  content: " ↓";
}

button:hover {
  background-color: #05ff00;
  color: var(--background-color);
  border: 5px solid var(--background-color);
  text-shadow: none;
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid rgba(255, 218, 185, 0.5);
  border-top: 16px solid #05ff00;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  height: 10px;
  width: 10px;
  margin-top: 30px;
  margin-left: 20px;
}

.BlocksContainer .loader {
  margin-top: 123px;
  margin-left: 75px;
  height: 50px;
  width: 50px;
}
